.navbar {
  
    display: flex;
    align-items: center;
    height: 100px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
    
  }
  
  .header {
    font-size: 33px;
    font-weight: 700;
    margin-right: 28%;
  }
  
  .visualize-button {
    background-color: #5035FF;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-family: 'Unbounded', cursive;
  }