body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Unbounded', cursive;
}

.grid {
  text-align: right;
  position: relative;
  margin-right:15px;
  margin-left: 15px;
  font-size: 0px;
  cursor: pointer;
}

.row {
  max-width: 100%;
}




.App {
  text-align: center;
}